<%= form_with(model: project, local: true) do |form| %>
<div class="form-group">
  <%= form.text_field :title, placeholder: "Title" %>
  <br><br>
  <%= form.text_field :about, placeholder: "Description" %>
  <br><br>
  <%= form.text_field :image, placeholder: "Image URL" %>
</div>
<div class="actions">
  <%= form.submit %>
</div>
<% end %>
